*{
    margin: 0;
}

/* shared css */
.d-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.btn{
    font-size: 18px;
    background-color: #006A50;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 7px;
    border: none;
    transition: .5s all linear;
}
.btn:hover{
    background: #48bd87;}
/* header section start */
.hero{
    width: 1280px;
    background-color: #C6E4D6;
    margin: 30px auto;
    border-radius: 10px;
}
.hero-content{
    padding: 70px;
    margin-top: 20px;
}
.hero-content h3{
    font-size: 24px;
    font-weight: 500;
    color: #76867F;
}
.hero-content h1{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 20px;
    margin-bottom: 30px;
}
.hero-img{
    padding: 30px;
}